.Login {
  display: block;
  max-width: 100%;
}

.Login__content {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 5rem;
  background: white;
  padding: 3rem;
  box-shadow: rgba(68, 68, 68, 0.06) 0px 2px 2px 1px;
}

.messageError {
  padding-top: 1rem;
  color: red;
}