.Header__container {
  height: 80px;
  background: #01CBA9;
}

.Header__container--logotipo {
  width: 100%;
  height: 100%;
  display: block;
}

.Header__container--logo {
  height: 100%;
  display: inline-block;
  padding: 0.8rem;
  padding-left: 1.5rem;
}

.Header__container--logo img {
  max-width: 100%;
  height: 100%;
}

.Header__container--title {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding-bottom: 2rem;
}

.Header__container--title p {
  margin-top: 1.2rem;
  font-size: 2rem;
  color: white;
}

.Header__container--user {
  text-align: right;
  padding-top: 1rem;
}

.Header__container--user .name {
  display: inline-block;
  color: white;
}

.Header__container--user .name a {
  padding-right: .5rem;
  color: white;
}

.Header__container--user .avatar {
  display: inline-block;
  width: 50px;
  padding-right: .5rem;
  padding-top: .2rem;
}

.Header__container--user .avatar img {
  max-width: 100%;
}
