.options {
  background: white;
  width: 100%;
  text-align: center;
  padding: .6rem;
  padding-top: 1.5rem;
}

.options ul li {
  display: inline-block;
  list-style: none;
  padding: .4rem .5rem;
  border-radius: 10px;
  border: 2px solid #01cba9;
  color: #01cba9;
  margin-right: .5rem;
  cursor: pointer;
}
